#instructionsDiv {
    font-size: 2rem;
}

#playerStatsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}

#equationDiv {
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

#answerList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .button {
        min-width: 120px;
    }
}